* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #fcfafa;
}
.header {
  position: relative;
  background-color: rgb(89, 89, 175);
  height: 105vh;
  overflow-y: hidden;
}
.menu {
  color: white;
  transition: all 0.5s;
}
.image {
  height: 22rem;
  left: 0%;
  right: 0%;
  margin-left: auto;
  margin-right: auto;
  top: 25%;
  -webkit-animation: floatUpDown 5s linear infinite;
  animation: floatUpDown 5s linear infinite;
}

@media (max-width:768px) {
  .image{
    top: 0%;
   
  
  }
}
@keyframes floatUpDown {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.scroll-active {
  background-color: rgb(235, 229, 229);
  color: rgb(212, 196, 196);
  box-shadow: black;
}
/* .scroll-active .burger div {
  background-color: black;
} */

.burger {
  display: none;
}
.description {
  background-color: rgb(249 250 251);
  border-radius: 20px;
}
.contactWrapper {
  background-color: rgb(243 244 246);
}

.cv:hover {
  color: #f3f3f3 !important;
}
.burger div {
  height: 4px;
  width: 25px;
  margin: 4px;
  background-color: white;
}
.wrapper .dynamic-txts {
  margin-left: 15px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}
.dynamic-txts li {
  font-size: 60px;
  font-weight: 500;
  position: relative;
  top: 4px;

  animation: slide 12s steps(4) infinite;
}
#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 3; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* .li-trans {
  transition: height 0.2s linear;
} */
.ul-div {
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

@media screen and (max-width: 767px) {
  .ul-div {
    height: 0px;
    overflow-y: hidden;
    transition: height 0.2s linear;
  }
  .ul-div li {
    padding: 0.5rem 0;

    /* border-bottom: 1px solid #ccc; */
  }
}

/* .ul-div li:last-child {
  border-bottom: hidden;
} */
@media screen and (max-width: 767px) {
  .menu ul {
    position: fixed;
    right: -100%;
    height: 100%;
    margin-top: 38px;
    /* background-color: rgb(229, 231, 235); */
    text-align: center;
    width: 100%;
    padding-bottom: 4px;
    transition: all 0.5s;
    /* color: black; */
  }

  .burger {
    display: block;
  }

  .dynamic-txts li {
    font-size: 40px;
    font-weight: 500px;
    position: relative;
    top: 4px;
    animation: slide 12s steps(4) infinite;
  }
}
@keyframes slide {
  100% {
    top: -355px;
    transition: ease-in-out;
  }
}

.owl-carousel .owl-stage {
  display: flex;
}

.owl-carousel .owl-item img {
  width: 180px !important;
  height: 150px;
}
.custom-shape-divider-bottom-1628237230 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1628237230 svg {
  position: relative;
  display: block;
  width: calc(128% + 1.3px);
  height: 153px;
}

.custom-shape-divider-bottom-1628237230 .shape-fill {
  fill: #fcfafa;
}

.card {
  height: 510px;
  overflow-y: hidden;
  background-color: "#fcfafa";
}
.loader-wrapper {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 9999;
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.bubbles img {
  width: 30px;
  animation: bubble 5s linear infinite;
}

@keyframes bubble {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: translateY(-80vh);
    opacity: 0;
  }
}

.bubbles img:nth-child(1) {
  animation-delay: 2s;
}
.bubbles img:nth-child(2) {
  animation-delay: 3s;
  width: 20px;
}
.bubbles img:nth-child(3) {
  animation-delay: 5s;
}
.bubbles img:nth-child(4) {
  animation-delay: 3s;
}
.bubbles img:nth-child(5) {
  animation-delay: 4s;
  width: 35;
}
.bubbles img:nth-child(6) {
  animation-delay: 2.5s;
}
.bubbles img:nth-child(7) {
  animation-delay: 1s;
}
.bubbles img:nth-child(8) {
  animation-delay: 4s;
  width: 15px;
}
.bubbles img:nth-child(9) {
  animation-delay: 3s;
}
.bubbles img:nth-child(10) {
  animation-delay: 2.8s;
}
.bubbles img:nth-child(11) {
  animation-delay: 4s;
  width: 20px;
}

.switch {
  position: fixed;
  display: inline-block;
  width: 60px;
  height: 34px;
  bottom: 2%;
  right: 2%;
  z-index: 2;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
  z-index: 10;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch img {
  position: absolute;
  height: 25px;
  right: 1px;
  top: 3px;
}
